<ion-view view-title="Hesabım">

<ion-content class="materialize grey lighten-4">

<ion-refresher
spinner="lines"    
pulling-text="Yenilemek için sürükleyin..."
on-refresh="doRefresh('hesabim')"
>
</ion-refresher>
<!--profile sayfası-->
	<div class="list">

		<div id="profile-bg"></div>
	      <div id="content">

	        <div id="profile-info">

	          <img class="animated fadeInRight profile-image {{local_userDetails.isWork == 0 ? '' : 'work'}}"
	          src="{{local_userDetails.imageYolu}}">
	          <button class="animated fadeInRight"  id="editprofile" ng-click="showPopup()">Düzenle</button>
	          <h2 class="animated fadeInRight" id="profile-name">{{local_userDetails.name}}</h2>

	       <span id="profile-description">
	       	<i class="ion-ios-email-outline"></i>  {{local_userDetails.email}}  
	       	<i class="ion-iphone"></i>  {{local_userDetails.phone}}  
	       </span>
	        </div>

		<a class="item item-icon-left item-icon-right" href="#/app/banaozel" ng-if="local_userDetails.userType==2">
			<i class="icon ion-android-star-outline"></i>
			Bana Özel Teklifler
			<span class="badge badge-assertive" >{{banaozelteklifler.length}}</span>
		</a>

<!-- 		<a class="item item-icon-left" href="#">
			<i class="icon ion-android-mail energized"></i>
			Gelen Mesajlar
			<span class="badge badge-assertive">0</span>
		</a> -->

		<a class="item item-icon-left item-icon-right" href="#/app/onaylanmistekliflerim" ng-if="local_userDetails.userType==1">
			<i class="icon ion-android-checkbox-outline balanced"></i>
			Onaylanan Tekliflerim
			<span class="badge badge-assertive" >{{onaylanmistekliflerim.length}}</span>
		</a>

		<label class="item">
			<button class="button button-block button-assertive" ng-click="logout()">Çıkış Yap</button>
		</label>

	</div>
<!--profile sayfası-->

</ion-content>
</ion-view>
