<ion-view view-title="Bakıcı Detay">
<ion-content>


<ion-list>


<div class="list card">

  <div class="item item-avatar">
  	  <img src="{{bakici.imageYolu}}">
    <h2>{{bakici.name}}</h2>
    <p>{{bakici.uyruk}}</p>
  </div>

  	<div class="row">
		<div class="col col-100 teal lighten-2 white-text">Deneyim</div>
	</div>
  	<div class="row">
		<div class="col col-100">{{bakici.deneyim}}</div>
	</div>

	<div class="row">
		<div class="col col-50 teal lighten-2 white-text">Doğum Tarihi</div>
		<div class="col col-50 teal lighten-2 white-text">Uyruk</div>
	</div>

	<div class="row">
		<div class="col col-50">{{bakici.yas}}</div>
		<div class="col col-50">{{bakici.uyruk}}</div>
	</div>
	<div class="row">
		<div class="col col-50 teal lighten-2 white-text">Yaşadığı İl</div>
		<div class="col col-50 teal lighten-2 white-text">Yaşadığı İlçe</div>
	</div>

	<div class="row">
		<div class="col col-50">{{bakici.ilAdi}}</div>
		<div class="col col-50">{{bakici.ilceAdi}}</div>
	</div>
		<div class="row">
		<div class="col col-50 teal lighten-2 white-text">Bildiği Diller</div>
		<div class="col col-50 teal lighten-2 white-text">Oturma İzni</div>
	</div>

	<div class="row">
		<div class="col col-50">{{bakici.dil}}</div>
		<div class="col col-50">{{bakici.oturum}}</div>
	</div>
		<div class="row">
		<div class="col col-50 teal lighten-2 white-text">Çocuk Bakım</div>
		<div class="col col-50 teal lighten-2 white-text">Hasta Bakım</div>
	</div>

	<div class="row">
		<div class="col col-50">{{bakici.cocukBakim}}</div>
		<div class="col col-50">{{bakici.hastaBakim}}</div>
	</div>
		<div class="row">
		<div class="col col-50 teal lighten-2 white-text">Yaşlı Bakım</div>
		<div class="col col-50 teal lighten-2 white-text">Temizlik</div>
	</div>

	<div class="row">
		<div class="col col-50">{{bakici.yasliBakim}}</div>
		<div class="col col-50">{{bakici.temizlik}}</div>
	</div>
		<div class="row">
		<div class="col col-50 teal lighten-2 white-text">Yemek</div>
		<div class="col col-50 teal lighten-2 white-text">Ütü</div>
	</div>

	<div class="row">
		<div class="col col-50">{{bakici.yemek}}</div>
		<div class="col col-50">{{bakici.utu}}</div>
	</div>
		<div class="row">
		<div class="col col-50 teal lighten-2 white-text">İstanbul Dışı Çalışır mı?</div>
		<div class="col col-50 teal lighten-2 white-text">Sigara Kullanımı</div>
	</div>

	<div class="row">
		<div class="col col-50">{{bakici.sehirD}}</div>
		<div class="col col-50">{{bakici.sigara}}</div>
	</div>
		<div class="row">
		<div class="col col-50 teal lighten-2 white-text">Çalışma Şekli</div>
		<div class="col col-50 teal lighten-2 white-text">Maaş Beklentisi</div>
	</div>

	<div class="row">
		<div class="col col-50">{{bakici.calismaS}}</div>
		<div class="col col-50">{{bakici.maas}}</div>
	</div>


	<div class="row" ng-if="bakici.isWork != 1 && local_userType!=4">
		<div class="col col-100"><button class="button button-block button-small button-balanced" ng-click="openteklifvermodal()">Teklif Ver</button></div>
	</div>

<!-- 	<div >
		<div class="row">
			<a button class="button button-block button-small button-energized" style="width:inherit; " href="#/app/chats/{{bakici.id}}">Mesaj Gönder</a>
		</div>

	</div> -->
</div>


</ion-list>
</ion-content>
</ion-view>


