<ion-view view-title="Bana Özel Teklifler">
<ion-content>

<ion-refresher
spinner="lines"    
pulling-text="Yenilemek için sürükleyin..."
on-refresh="doRefresh('banaozelteklifler')"
>
</ion-refresher>

<ion-list class="animate-blinds">
<ion-item nav-clear>

<!--teklifler listeleniyor 
<div class="row" ng-repeat="banaozelteklif in banaozelteklifler">
   <div class="col col-50">{{banaozelteklif.typeTitle}}</div>
   <div class="col col-20">{{banaozelteklif.status}}</div>
   <div class="col col-33">{{banaozelteklif.regDate}}</div>
</div>
teklifler listeleniyor -->
 <div class="card assertive" ng-hide="banaozelteklifler.length">
  <div class="item item-text-wrap" style="text-align:center">
    Henüz Size Özel Teklif Bulunmamaktadır..
  </div>
</div>

<div class="card" ng-repeat="banaozelteklif in banaozelteklifler">

  <div class="row">
   <div class="col col-background col-50 teal lighten-2 white-text">İstenilen Hizmet</div>
   <div class="col col-background col-50 teal lighten-2 white-text">Durum</div>
  </div>
   <div class="row">
   <div class="col col-50">{{banaozelteklif.typeTitle}}</div>
   <div class="col col-50">{{banaozelteklif.status == '1' ? 'Yönetim Onaylı Teklif' : 'Yönetim Onaysız Teklif'}}
   </div>
  </div>
  <div class="row">
   <div class="col col-background col-50 teal lighten-2 white-text">Açılma Tarihi</div>

  </div>
  <div class="row">
   <div class="col col-50">{{banaozelteklif.date}}</div>
    <div class="col col-50"><a href="#/app/teklifdetay/{{banaozelteklif.serviceID}}/banaozelteklifler"><button class="button button-block button-small button-assertive">İncele</button></a></div>
  </div>


</div>


</ion-item>
</ion-list>
<!--Firmalar listeleniyor -->

</ion-content>
</ion-view>


