<ion-view view-title="Bakıcı Ekle">
<ion-content>

<form ng-submit="firmaBakiciEkleFon()" name="firmaBakiciEkleForm" novalidate>

	<div class="card">

		<div class="add-photo">
			<h4>Add<br>Photo</h4>
			<input type="file" accept="image/gif, image/jpeg, image/png" name="image" ng-model="dataBakiciEkle.image">
		</div>
		<div class="row">
			<div class="col col-50 teal lighten-2 white-text">Ad Soyad</div>
			<div class="col col-50 teal lighten-2 white-text">E-Mail</div>
		</div>

		<div class="row">

			<div class="col col-50">
				<label class="item item-input">
					<input type="text" placeholder="Ad Soyad" ng-model="dataBakiciEkle.name" name="name" required>
				</label>
			</div>

			<div class="col col-50">
				<label class="item item-input">
					<input type="email" placeholder="E-Mail" ng-model="dataBakiciEkle.email" name="email" required>
				</label>
			</div>

		</div>

		
		<div class="row">
			<div class="col col-50 teal lighten-2 white-text">Şifre</div>
			<div class="col col-50 teal lighten-2 white-text">Telefon</div>
		</div>

		<div class="row">

			<div class="col col-50">
				<label class="item item-input">
					<input type="password" placeholder="Şifre" ng-model="dataBakiciEkle.pass" name="pass" required>
				</label>
			</div>

			<div class="col col-50">
				<label class="item item-input">
					<input type="number" placeholder="Telefon (05xx)" ng-model="dataBakiciEkle.phone" name="phone" ng-minlength="11" ng-maxlength="11" required>
				</label>
			</div>

		</div>

		<div class="row">
			<div class="col col-50 teal lighten-2 white-text">Yaş</div>
			<div class="col col-50 teal lighten-2 white-text">Uyruk</div>
		</div>

		<div class="row">

			<div class="col col-50">
				<!-- <label class="item item-input">
					<input type="date" placeholder="GG/AA/YYYY" ng-model="dataBakiciEkle.yas" name="yas"  required>		    
				</label> -->

				<label class="item item-input">
					<input type="date" placeholder="GG-AA-YYYY" ng-model="dataBakiciEkle.yas" name="yas"  required>		    
				</label>
<!-- 				<div class="col" ng-click="dataBakiciEkle.yas=!dataBakiciEkle.yas" ng-if="dataBakiciEkle.yas">
					{{dataBakiciEkle.yas| date: "dd-MM-yyyy" }}</div> -->
				

				
<!-- 				<label class="item item-select">
					<select ng-model="dataBakiciEkle.yas" style="max-width: 100%; width:100%;direction:ltr" name="yas" required>
						<option value="">---Doğum Yılı---</option>
						<option ng-repeat="yas in years">{{yas.year}}</option>
					</select>
				</label>-->
			</div>

			<div class="col col-50">
				<label class="item item-select">
					<select ng-model="dataBakiciEkle.uyruk" style="max-width: 100%; width:100%;direction:ltr" name="uyruk" required>
						<option value="">---Uyruk---</option>
						<option ng-repeat="uyruk in nations">{{uyruk.nation}}</option>
					</select>
				</label>
			</div>

		</div>

		<div class="row">
			<div class="col col-50 teal lighten-2 white-text">Pasaport</div>
			<div class="col col-50 teal lighten-2 white-text"></div>
		</div>

		<div class="row">

			<div class="col col-50">
				<label class="item item-input">
					<input type="text" placeholder="Pasaport" ng-model="dataBakiciEkle.pasaport" name="pasaport" required>
				</label>
			</div>

		</div>

		<div class="row">
			<div class="col col-50 teal lighten-2 white-text">Yaşadığı İl</div>
			<div class="col col-50 teal lighten-2 white-text">Yaşadığı İlçe</div>
		</div>

		<div class="row">

			<div class="col col-50">
				<label class="item item-select" >
					<select ng-model="dataBakiciEkle.ilAdi" 
							ng-options="ilAdi.city as ilAdi.city for ilAdi in citys"
							ng-change="getDistrictFon(dataBakiciEkle.ilAdi)"
							style="max-width: 100%; width:100%;direction:ltr" 
							name="ilAdi" 
							required >
							<option value="">---İl Seçin---</option>
					</select>
				</label>
			</div>

			<div class="col col-50">
				<label class="item item-select" >
					<select ng-model="dataBakiciEkle.ilceAdi" 
							ng-options="ilceAdi.district_name as ilceAdi.district_name for ilceAdi in districts"
							style="max-width: 100%; width:100%;direction:ltr" 
							name="ilceAdi" 
							required >
							<option value="">---İlçe Seçin---</option>
					</select>
				</label>
			</div>

		</div> 

		<div class="row">
			<div class="col col-100 teal lighten-2 white-text">Adres</div>
		</div>
		<div class="row">
			<label class="item item-input">
				<textarea placeholder="Adres" ng-model="dataBakiciEkle.adres" name="adres" required></textarea>
			</label>
		</div>

		<div class="row">
			<div class="col col-50 teal lighten-2 white-text">Çocuk Bakım</div>
			<div class="col col-50 teal lighten-2 white-text">Hasta Bakım</div>
		</div>

		<div class="row">

			<div class="col col-50">
				<label class="item item-select">
					<select ng-model="dataBakiciEkle.cocukBakim" style="max-width: 100%; width:100%;direction:ltr" name="cocukBakim" required>
						<option value="">---Çocuk Bakım---</option>
						<option ng-repeat="cocukBakim in abilities">{{cocukBakim.ability}}</option>
					</select>
				</label>
			</div>

			<div class="col col-50">
				<label class="item item-select">
					<select ng-model="dataBakiciEkle.hastaBakim" style="max-width: 100%; width:100%;direction:ltr" name="hastaBakim" required>
						<option value="">---Hasta Bakım---</option>
						<option ng-repeat="hastaBakim in abilities">{{hastaBakim.ability}}</option>
					</select>
				</label>
			</div>

		</div>
		<div class="row">
			<div class="col col-50 teal lighten-2 white-text">Yaşlı Bakım</div>
			<div class="col col-50 teal lighten-2 white-text">Temizlik</div>
		</div>

		<div class="row">

			<div class="col col-50">
				<label class="item item-select">
					<select ng-model="dataBakiciEkle.yasliBakim" style="max-width: 100%; width:100%;direction:ltr" name="yasliBakim" required>
						<option value="">---Yaşlı Bakım---</option>
						<option ng-repeat="yasliBakim in abilities">{{yasliBakim.ability}}</option>
					</select>
				</label>
			</div>

			<div class="col col-50">
				<label class="item item-select">
					<select ng-model="dataBakiciEkle.temizlik" style="max-width: 100%; width:100%;direction:ltr" name="temizlik" required>
						<option value="">---Temizlik---</option>
						<option ng-repeat="temizlik in abilities">{{temizlik.ability}}</option>
					</select>
				</label>

			</div>

		</div>
		<div class="row">
			<div class="col col-50 teal lighten-2 white-text">Yemek</div>
			<div class="col col-50 teal lighten-2 white-text">Ütü</div>
		</div>

		<div class="row">

			<div class="col col-50">
				<label class="item item-select">
					<select ng-model="dataBakiciEkle.yemek" style="max-width: 100%; width:100%;direction:ltr" name="yemek" required>
						<option value="">---Yemek---</option>
						<option ng-repeat="yemek in abilities">{{yemek.ability}}</option>
					</select>
				</label>
			</div>
			<div class="col col-50">
				<label class="item item-select">
					<select ng-model="dataBakiciEkle.utu" style="max-width: 100%; width:100%;direction:ltr" name="utu" required>
						<option value="">---Ütü---</option>
						<option ng-repeat="utu in abilities">{{utu.ability}}</option>
					</select>
				</label>
			</div>

		</div>

		<div class="row">
			<div class="col col-100 teal lighten-2 white-text">Deneyim</div>
		</div>
		<div class="row">
			<label class="item item-input">
				<textarea placeholder="Deneyim" ng-model="dataBakiciEkle.deneyim" name="deneyim" required></textarea>
			</label>
		</div>

		<div class="row">
			<div class="col col-50 teal lighten-2 white-text">İstanbul Dışı Çalışır mı?</div>
			<div class="col col-50 teal lighten-2 white-text">Sigara Kullanımı</div>
		</div>

		<div class="row">

			<div class="col col-50">
				<label class="item item-select">
					<select ng-model="dataBakiciEkle.sehirD" style="max-width: 100%; width:100%;direction:ltr" name="sehirD" required>
						<option value="">---Şehir Dışı---</option>
						<option ng-repeat="sehirD in works">{{sehirD.work}}</option>
					</select>
				</label>
			</div>
			<div class="col col-50">
				<label class="item item-select">
					<select ng-model="dataBakiciEkle.sigara" style="max-width: 100%; width:100%;direction:ltr" name="sigara" required>
						<option value="">---Sigara---</option>
						<option ng-repeat="sigara in smoke">{{sigara.smoke}}</option>
					</select>
				</label>
			</div>

		</div>
		<div class="row">
			<div class="col col-50 teal lighten-2 white-text">Çalışma Şekli</div>
			<div class="col col-50 teal lighten-2 white-text">Maaş Beklentisi</div>
		</div>

		<div class="row">

			<div class="col col-50">
				<label class="item item-select">
					<select ng-model="dataBakiciEkle.calismaS" style="max-width: 100%; width:100%;direction:ltr" name="calismaS" required>
						<option value="">---Çalışma Şekli---</option>
						<option ng-repeat="calismaS in workTypes">{{calismaS.workType}}</option>
					</select>
				</label>
			</div>
			<div class="col col-50">
				<label class="item item-select">
					<select ng-model="dataBakiciEkle.maas" style="max-width: 100%; width:100%;direction:ltr" name="maas" required>
						<option value="">---Maaş---</option>
						<option ng-repeat="maas in salary">{{maas.salary}}</option>
					</select>
				</label>
			</div>

		</div>

		<div class="row">
			<div class="col col-50 teal lighten-2 white-text">Bildiği Diller</div>
			<div class="col col-50 teal lighten-2 white-text">Oturma İzni</div>
		</div>

		<div class="row">

			<div class="col col-50">
				<label class="item item-select">
					<select ng-model="dataBakiciEkle.dil" style="max-width: 100%; width:100%;direction:ltr" name="dil" required>
						<option value="">---Dil---</option>
						<option ng-repeat="dil in languages">{{dil.language}}</option>
					</select>
				</label>
			</div>

			<div class="col col-50">
				<label class="item item-select">
					<select ng-model="dataBakiciEkle.oturum" style="max-width: 100%; width:100%;direction:ltr" name="oturum" required>
						<option value="">---Oturma İzni---</option>
						<option ng-repeat="oturum in permissions">{{oturum.permission}}</option>
					</select>
				</label>
			</div>

		</div>

		<!-- gönder butonu -->
		<div class="padding">
			<input class="button button-block button-balanced" type="submit" name="firmaBakiciEkle" value="Kaydet" ng-disabled="firmaBakiciEkleForm.$invalid" >    <!-- -->
		</div>


	</div>

</form>

<!-- <button class="button" ng-click="takePicture()">
  kamera
</button> -->
</ion-content>
</ion-view>