<ion-view view-title="Anasayfa">
<ion-content style="background:#e9e9e9">

<ion-refresher
spinner="lines"    
pulling-text="Yenilemek için sürükleyin..."
on-refresh="doRefresh('homepage')"
>
</ion-refresher>

<ion-list>
		<!--<ion-item class="item-remove-animate item-avatar item-icon-right" collection-repeat="duvaryazisi in duvaryazilari" type="item-text-wrap" href="#/app/deneme/{{duvaryazisi.yazi_id}}"   item-width="50%"
		item-height="150px">-->

</ion-list>
<!--Firmalar listeleniyor -->

<div class="container">
	<div class="containerintent">
		<div class="info-box">
			<div class="icon">
				<i class="ion-person-stalker"></i>	
			</div>
			<div class="content">
				<div class="text">Bakıcılarımız</div>
				<div class="number" count-to="{{homepagecounts.bakici}}" duration="1"></div>
			</div>
		</div>
		<div class="info-box">
			<div class="icon">
				<i class="ion-person-stalker"></i>	
			</div>
			<div class="content">
				<div class="text">Ailelerimiz</div>
				<div class="number" count-to="{{homepagecounts.aile}}" duration="1"></div>
			</div>
		</div>
		<div class="info-box">
			<div class="icon">
				<i class="ion-clipboard"></i>	
			</div>
			<div class="content">
				<div class="text">Açılan Teklif</div>
				<div class="number" count-to="{{homepagecounts.teklif}}" duration="1"></div>
			</div>
		</div>
		<div class="info-box">
			<div class="icon">
				<i class="ion-chatboxes"></i>	
			</div>
			<div class="content">
				<div class="text">İş Görüşmesi</div>
				<div class="number" count-to="{{homepagecounts.gorusme}}" duration="1"></div>	
			</div>
		</div>

	</div>

	<div class="card" ng-if="local_userDetails.userType !=4">
		<div class="item item-divider teal lighten-2 white-text">
			Görüşmede olduğum {{local_userDetails.userType == '1' ? 'Bakıcılar' : 'Aileler' }}
		</div>
		<div class="item item-text-wrap">
			{{homepagecounts.gorusmedeOldugum[0].name}}
		</div>
	</div>



</div>


</ion-content>
</ion-view>


