<ion-view view-title="Kabul Ettiklerim">
<ion-content>

<ion-refresher
spinner="lines"    
pulling-text="Yenilemek için sürükleyin..."
on-refresh="doRefresh('kabulettigimteklifler')"
>
</ion-refresher>

<ion-list class="animate-blinds">
<ion-item nav-clear>

<div class="card assertive" ng-hide="kabulettigimteklifler.length">
	<div class="item item-text-wrap" style="text-align:center">
		Henüz Kabul Ettiğiniz Teklif Bulunmamaktadır..
	</div>
</div>

<div class="card" ng-repeat="kabulettigimteklif in kabulettigimteklifler">

	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">İstenilen Hizmet</div>
		<div class="col col-background col-50 teal lighten-2 white-text">Durum</div>
	</div>
	<div class="row">
		<div class="col col-50">{{kabulettigimteklif.typeTitle}}</div>
		<div class="col col-50">{{kabulettigimteklif.status == '1' ? 'Yönetim Onaylı Teklif' : 'Yönetim Onaysız Teklif'}}</div>
	</div>
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Açılma Tarihi</div>

	</div>
	<div class="row">
		<div class="col col-50">{{kabulettigimteklif.date}}</div>
	    <div class="col col-50"><a href="#/app/teklifdetay/{{kabulettigimteklif.serviceID}}/kabulettigimteklifler"><button class="button button-block button-small button-assertive">İncele</button></a></div>
	</div>


</div>

</ion-item>
</ion-list>
</ion-content>
</ion-view>


