<ion-view view-title="Kabul Edenler">
<ion-content>

<ion-refresher
spinner="lines"    
pulling-text="Yenilemek için sürükleyin..."
on-refresh="doRefresh('kabuledenler')"
>
</ion-refresher>

<ion-list class="animate-blinds">
<ion-item nav-clear>

<div class="card assertive" ng-hide="kabuledenler.length">
	<div class="item item-text-wrap" style="text-align:center">
		Henüz hiçbir bakıcıya teklif gönderilmemiştir.
	</div>
</div>

<div class="card" ng-repeat="kabuleden in kabuledenler">

	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Ad Soyad</div>
		<div class="col col-background col-50 teal lighten-2 white-text">Uyruk</div>
	</div>
	<div class="row">
		<div class="col col-50">{{kabuleden.name}}</div>
		<div class="col col-50">{{kabuleden.uyruk}}</div>
	</div>
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">İstenilen Hizmet</div>
		<div class="col col-background col-50 teal lighten-2 white-text">Durum</div>
	</div>
	<div class="row">
		<div class="col col-50">{{kabuleden.typeTitle}}</div>
		<div class="col col-50">{{kabuleden.status == '1' ? 'Onaylandı' : 'Beklemede'}}</div>
	</div>

	<div class="row">
			<div class="col col-50" ng-if="kabuleden.status == 1 && kabuleden.action == 0">
				<button class="button button-block button-small button-balanced" 
				ng-click="aileIseAlAlmaCikartFon(1,kabuleden.interviewID);
							sendNotification(local_userDetails.name + ' tarafından işe alındınız!🎉', null,null,kabuleden.caryID)"
				ng-controller="NotificationCtrl">Çalışmaya Başla</button></div>
			<div class="col col-50"><button class="button button-block button-small button-assertive" 
				ng-click="aileIseAlAlmaCikartFon(-1,kabuleden.interviewID,kabuleden.caryID);
							sendNotification(local_userDetails.name + ' tarafından işten çıkartıldınız❌', null,null,kabuleden.caryID)"
				ng-controller="NotificationCtrl">Sonlandır</button></div>
	</div>

	<div class="row">
		<div class="col col-100">
			<a href="#/app/chats/{{kabuleden.familyID}}/{{kabuleden.caryID}}"><button class="button button-block button-small button-energized" 
				>Mesaj Gönder</button></a>
		</div>
	</div>

</div>

<!-- 			ng-click="sendMessage(kabuleden.familyID,kabuleden.caryID)"
			ng-controller="MessageCtrl" -->
</ion-item>
</ion-list>
</ion-content>
</ion-view>


