
<ion-view view-title="" hide-nav-bar="true">

<ion-content class="shadow-forms">
	<div class="message warning">
		<div class="login-head">
			<h2>Giriş Formu</h2>
		</div>
		<div class="sub-head">
			
      		<h3>Giriş Yapabilmeniz için üyeliğinizin sistem tarafından onaylanması gerekir.</h3>
		</div>


		<form ng-submit="doLogin()">
			<div class="list">
 				<label class="item item-input login-input">
 					<span><i class="fa fa-user-o" aria-hidden="true" style="padding-right:10px;font-size:larger"></i></span>
   				 	<input type="email" placeholder="Lütfen Email Adresinizi Yazın" ng-model="loginData.email" required>
  				</label>
 				<label class="item item-input login-input">
 					<span><i class="fa fa-unlock-alt" aria-hidden="true"style="padding-right:10px;font-size:larger"></i></span>
    				<input type="password" placeholder="Lütfen Şifrenizi Yazın" ng-model="loginData.password" required>
  				</label>
  				<div class="p-container">
					<a href="http://www.ceptebakicim.com/account/begin_password_reset"><h6>Şifremi Unuttum?</h6></a>
				</div>
  				<label class="item login-button">
					<button class="button button-block button-assertive" type="submit">Giriş Yap</button>
				</label>
			</div>
		</form>


		<div class="login-bottom">
			<span>Hesabınız yok mu?</span>	
			<button class="button button-small button-balanced" style="float:right" ng-click="kayit()">Kayıt Ol</button>
		</div>




	</div>
</ion-content>
</ion-view>

