﻿
<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-content="toggledrag">
        <ion-nav-bar class="bar-assertive">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
       <!-- <button id="fab" class="button button-positive button-fab button-fab-bottom-right">
            <i class="icon ion-social-twitter"></i>
        </button>-->
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="expanded">
            <img src="{{local_userDetails.imageYolu}}" class="avatar motion spin fade">
            <div class="menu-bottom">
                {{local_userDetails.name}}
            </div>
            <div class="item" ng-if="local_userDetails.userType==2">
                    <span class="badge badge-{{local_userDetails.isWork == 1 ? 'assertive' : 'balanced'}}">{{local_userDetails.isWork == 1 ? "Çalışıyor" : "Çalışmıyor"}}</span>
            </div>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header sidemenucolor">
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/homepage" class="item item-icon-left">
                   <i class="icon ion-android-home"></i> Anasayfa
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/account" class="item item-icon-left">
                    <i class="icon ion-android-person"></i>Hesabım
                </ion-item>

                <div ng-if="local_userDetails.userType != 2">
                    <div class="item item-icon-left item-icon-right" ng-click="bakicilarDrop=!bakicilarDrop" >
                          <i class="icon ion-android-people"></i>
                          Bakıcılar
                           <i class="icon ion-android-{{bakicilarDrop ? 'remove' : 'add'}}"></i>               
                    </div>
                    <div class="subMenu" ng-show="bakicilarDrop" >
                        <a class="item item-icon-left" nav-clear menu-close href="#/app/tumbakicilar" >
                            <i class="icon ion-android-people"></i>Tüm Bakıcılar</a>

                        <a class="item item-icon-left" nav-clear menu-close href="#/app/teklifgonderdiklerim" ng-if="local_userDetails.userType==1">
                            <i class="icon ion-android-people"></i>Teklif Gönderdiklerim</a>

                        <a class="item item-icon-left" nav-clear menu-close href="#/app/kabuledenler" ng-if="local_userDetails.userType==1">
                            <i class="icon ion-android-people"></i>Kabul Edenler</a>

                        <a class="item item-icon-left" nav-clear menu-close href="#/app/bakiciekle" ng-if="local_userDetails.userType==4">
                            <i class="icon ion-android-people"></i>Bakıcı Ekle</a>    
                    </div>

                    <div ng-if="local_userDetails.userType==1">
                       <div class="item item-icon-left item-icon-right" ng-click="TekliflerimDrop=!TekliflerimDrop" >
                              <i class="icon ion-clipboard"></i>
                              Tekliflerim
                               <i class="icon ion-android-{{TekliflerimDrop ? 'remove' : 'add'}}"></i>               
                        </div>
                        <div class="subMenu" ng-show="TekliflerimDrop" >
                            <a class="item item-icon-left" nav-clear menu-close href="#/app/teklifolustur">
                                <i class="icon ion-clipboard"></i>Teklif Oluştur</a>
                            <a class="item item-icon-left" nav-clear menu-close href="#/app/onaylanmistekliflerim">
                                <i class="icon ion-clipboard"></i>Onaylanmış Tekliflerim</a>
                            <a class="item item-icon-left" nav-clear menu-close href="#/app/onaybekleyentekliflerim">
                                <i class="icon ion-clipboard"></i>Onay Bekleyen Tekliflerim</a>
                        </div>
                    </div>
                </div>
               
                <ion-item nav-clear menu-close href="#/app/banaozel" class="item item-icon-left" ng-if="local_userDetails.userType==2">
                    <i class="icon ion-android-star-outline"></i>Bana Özel Teklifler
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/kabulettiklerim"class="item item-icon-left" ng-if="local_userDetails.userType==2">
                    <i class="icon ion-android-checkbox-outline"></i>Kabul Ettiklerim
                </ion-item>
<!--                 <div ng-click="refresh()" ng-controller="ChatsCtrl">
                <ion-item nav-clear menu-close href="#/app/chats"class="item item-icon-left">
                    <i class="icon ion-android-mail"></i>Mesaj
                </ion-item></div> -->
         <!--        <ion-item nav-clear menu-close href="#/app/homepage" class="item item-icon-left">
                    <i class="icon ion-android-warning"></i>Yardım Al
                </ion-item>   -->
 
                <ion-item nav-clear menu-close ng-click="logout()"class="item item-icon-left">
                     <i class="icon ion-android-exit"></i>Çıkış
                 </ion-item>
        
            
                 

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
