<ion-view view-title="Mesaj">
<ion-content>
<ion-list>

<ion-item nav-clear>



<!--teklifler listeleniyor 
<div class="row" ng-repeat="banaozelteklif in banaozelteklifler">
   <div class="col col-50">{{banaozelteklif.typeTitle}}</div>
   <div class="col col-20">{{banaozelteklif.status}}</div>
   <div class="col col-33">{{banaozelteklif.regDate}}</div>
</div>
teklifler listeleniyor -->

<div class="card" ng-repeat="banaozelteklif in banaozelteklifler">

  <div class="row">
   <div class="col col-background col-50">İstenilen Hizmet</div>
   <div class="col col-background col-50">Durum</div>
  </div>
   <div class="row">
   <div class="col col-50">{{banaozelteklif.typeTitle}}</div>
   <div class="col col-50">{{banaozelteklif.status}}</div>
  </div>
  <div class="row">
   <div class="col col-background col-50">Açılma Tarihi</div>

  </div>
  <div class="row">
   <div class="col col-50">{{banaozelteklif.regDate}}</div>
    <div class="col col-50"><button class="button button-block button-small button-assertive">İncele</button></div>
  </div>

</div>


</ion-item>
</ion-list>
<!--Firmalar listeleniyor -->

</ion-content>
</ion-view>


