<ion-view view-title="Onaylanmış Tekliflerim">
<ion-content>

<ion-refresher
spinner="lines"    
pulling-text="Yenilemek için sürükleyin..."
on-refresh="doRefresh('onaylanmistekliflerim')"
>
</ion-refresher>

<ion-list class="animate-blinds">
<ion-item nav-clear>

<div class="card assertive" ng-hide="onaylanmistekliflerim.length">
	<div class="item item-text-wrap" style="text-align:center">
		Henüz Onaylanmış Teklifiniz Bulunmamaktadır..
	</div>
</div>

<div class="card" ng-repeat="onaylanmisteklif in onaylanmistekliflerim">

	<div class="row">
		<div class="col col-50 teal lighten-2 white-text">İstenilen Hizmet</div>
		<div class="col col-50 teal lighten-2 white-text">Durum</div>
	</div>
	<div class="row">
		<div class="col col-50">{{onaylanmisteklif.typeTitle}}</div>
		<div class="col col-50">{{onaylanmisteklif.status == '1' ? 'Onaylandı' : 'Beklemede'}}</div>
	</div>
	<div class="row">
		<div class="col col-50 teal lighten-2 white-text">Açılma Tarihi</div>

	</div>
	<div class="row">
		<div class="col col-50">{{onaylanmisteklif.regDate}}</div>
	    <div class="col col-50"><a href="#/app/teklifdetay/{{onaylanmisteklif.serviceID}}/onaylanmisteklifler"><button class="button button-block button-small button-assertive">İncele</button></a></div>
	</div>


</div>


</ion-item>
</ion-list>
</ion-content>
</ion-view>


