<ion-view view-title="Onay Bekleyen Tekliflerim">
<ion-content>

<ion-refresher
spinner="lines"    
pulling-text="Yenilemek için sürükleyin..."
on-refresh="doRefresh('onaybekleyentekliflerim')"
>
</ion-refresher>

<ion-list class="animate-blinds">
<ion-item nav-clear>

<div class="card assertive" ng-hide="onaybekleyentekliflerim.length">
	<div class="item item-text-wrap" style="text-align:center">
		Onay Bekleyen Teklifiniz Bulunmamaktadır..
	</div>
</div>

<div class="card" ng-repeat="onaybekleyenteklif in onaybekleyentekliflerim">

	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">İstenilen Hizmet</div>
		<div class="col col-background col-50 teal lighten-2 white-text">Durum</div>
	</div>
	<div class="row">
		<div class="col col-50">{{onaybekleyenteklif.typeTitle}}</div>
		<div class="col col-50">{{onaybekleyenteklif.status == '1' ? 'Onaylandı' : 'Beklemede'}}</div>
	</div>
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Açılma Tarihi</div>

	</div>
	<div class="row">
		<div class="col col-50">{{onaybekleyenteklif.regDate}}</div>
    <div class="col col-50"><a href="#/app/teklifdetay/{{onaybekleyenteklif.serviceID}}/onaybekleyenteklifler"><button class="button button-block button-small button-assertive">İncele</button></a></div></div>
	</div>


</div>


</ion-item>
</ion-list>
</ion-content>
</ion-view>


