<ion-modal-view>
  <ion-header-bar class="bar-balanced">
    <h1 class="title">Kayıt Ol</h1>
    <div class="buttons">
      <button class="button icon ion-close-round" ng-click="closeKayit()">
      </button>
    </div>
  </ion-header-bar>
  <ion-content>


    <!--Kayıt sayfası-->
    <form name="kayitForm" novalidate> <!--ng-submit="doKayit()" -->
      <div class="list">

        <label class="item item-input item-floating-label">
          <span class="input-label">Ad Soyad</span>
          <input type="text" required placeholder="Ad Soyad" name="name" ng-model="datakayit.name">  
        </label>

        <label class="item item-input item-select itemBorder" >
          <div class="input-label">İl</div>
          <select ng-model="datakayit.ilAdi" name="ilAdi" required>
            <option ng-repeat="ilAdi in citys">{{ilAdi.city}}</option>
          </select>
        </label>

        <label class="item item-input item-select itemBorder">
          <div class="input-label">İlçe</div>
          <select ng-model="datakayit.ilceAdi" name="ilceAdi" required>
            <option ng-repeat="ilceAdi in districts | filter: datakayit.ilAdi">{{ilceAdi.district_name}}</option>
          </select>
        </label>

        <div class="row itemBorder">

          <div class="col col-50">
            <div class="input-label">Doğum Tarihi</div>
          </div>

          <div class="col col-50">
            <label class="item item-input" ng-if="!datakayit.dogumTarihi">
              <input type="date" placeholder="GG/AA/YYYY" ng-model="datakayit.dogumTarihi " name="dogumTarihi" required>        
            </label>
            <div class="col col-50" ng-click="datakayit.dogumTarihi=!datakayit.dogumTarihi" ng-if="datakayit.dogumTarihi">
            {{datakayit.dogumTarihi| date: "dd-MM-yyyy" }}</div>
          </div>

        </div>



          <label class="item item-input item-floating-label">
            <span class="input-label">E-Mail</span>
            <input type="email" required placeholder="E-Mail" name="email" ng-model="datakayit.email">
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">Telefon</span>
            <input type="number" placeholder="Telefon (05xx)" name="phone" ng-model="datakayit.phone" ng-minlength="11" ng-maxlength="11"required>
            <p ng-show="kayitForm.phone.$error.minlength">* Telefon numarası 11 karakterden az olamaz.</p>
            <p ng-show="kayitForm.phone.$error.maxlength">* Telefon numarası 11 karakterden fazla olamaz.</p>
          </label>


          <label class="item item-input item-floating-label">
            <span class="input-label">Şifre</span>
            <input type="password" placeholder="Şifre" name="password" ng-model="datakayit.pass" ng-minlength="6" required>
            <p ng-show="kayitForm.password.$error.minlength">* Şifre 6 karakterden kısa olamaz</p>
          </label>


       <!-- <label class="item">
          <button class="button button-block button-positive" type="submit" ng-disabled="kayitForm.$invalid">Kayıt Ol</button>
        </label>-->
      </div>
      <div class="padding">
        <button type="button" class="button button-block button-balanced"" ng-click="signup()">Gönder</button><!--  ng-disabled="kayitForm.$invalid -->
      </div>
    </form>
    <!--Kayıt sayfası-->



  </ion-content>
</ion-modal-view>
