<ion-view view-title="Chat" class="chats-view">
  <ion-content has-subheader="false" delegate-handle="chatScroll">
    
    <div class="teneke" 
    ng-repeat="chat in chats track by $index"
    ng-class="{true: 'me', false: 'you'}[chat.gonderen == local_userDetails.email ]">
      <div class="flexCont">
        <img src="http://www.erkanmbay.com/ceptebakicim/upload/user/{{chat.image}}" alt="Avatar">
        <p>{{chat.mesaj}}</p>
      </div>
      <span class="time">{{chat.zaman | date:'dd/MM/yyyy H:mm'}}</span>
    </div>


  </ion-content>
  <ion-footer-bar keyboard-attach>
    <form name="chatForm" novalidate> 
      <div class="chat-input">
        <div class="input-area">
          <input type="text" ng-model="dataMesaj.newMessage" placeholder="Mesaj girin" required>
          <button class="send-msg-btn"
          ng-disabled="chatForm.$invalid"
          ng-click="sendMessageFon(dataMesaj.newMessage);
                    sendNotification(local_userDetails.name + ' tarafından mesaj gönderildi', null,null,receiver)"
          ng-controller="NotificationCtrl">Gönder
        </button>
      </div>
    </div>
  </form>
</ion-footer-bar>
</ion-view>
