<ion-modal-view>
<ion-header-bar class="bar-assertive">
<h1 class="title">Teklif Ver</h1>
<i class="button button-icon icon ion-close-round" style="min-height:unset" ng-click="closeteklifvermodal()"></i>
</ion-header-bar>
<ion-content>



    <!--Kayıt sayfası-->
    <form name="teklifVerForm" novalidate> <!--ng-submit="doKayit()" -->

    <div class="card">
        <div class="item item-text-wrap bold">
          <span>{{bakici.name}} için;</span>
          <p>İstenilen hizmeti seçin (Bu alanda sadece onaylanmış tekliflerinizi kullanabilirsiniz.)</p>
        </div>

        <div class="custom-select">
          <label class="item item-select">
            <select ng-model="dataTeklifVer.teklif" style="max-width: 100%; width:100%;direction:ltr" name="cocukYasAralik" required>
              <option value="">---Teklif Seçin---</option>
              <option ng-repeat="onaylanmisteklif in onaylanmistekliflerim" value="{{onaylanmisteklif.serviceID}}">
                {{ onaylanmisteklif.typeTitle }}
              </option>
            </select>
          </label>
        </div>

    </div>

          <div class="padding">
            <button type="button" class="button button-block button-balanced" 
            ng-click="teklifVer();sendNotification(local_userDetails.name + ' tarafından teklif gönderildi 📨', null,null,bakici.id)"
            ng-disabled="teklifVerForm.$invalid" 
            ng-controller="NotificationCtrl">Gönder</button>
        </div>
    </form>
   <!--Kayıt sayfası-->
<!--             ng-click="teklifVer();sendNotification(local_userDetails.name + ' tarafından teklif gönderildi 📨📨📨', null,null,bakici.fcmToken)"  -->
 
</ion-content>
</ion-modal-view>
