<ion-view view-title="Teklif Gönderdiklerim">
<ion-content>

<ion-refresher
spinner="lines"    
pulling-text="Yenilemek için sürükleyin..."
on-refresh="doRefresh('teklifgonderdiklerim')"
>
</ion-refresher>

<ion-list class="animate-blinds">
<ion-item nav-clear>

<div class="card assertive" ng-hide="teklifgonderdiklerim.length">
	<div class="item item-text-wrap" style="text-align:center">
		Henüz hiçbir bakıcıya teklif gönderilmemiştir.
	</div>
</div>

<div class="card" ng-repeat="teklifgonderdigim in teklifgonderdiklerim">

	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Ad Soyad</div>
		<div class="col col-background col-50 teal lighten-2 white-text">Uyruk</div>
	</div>
	<div class="row">
		<div class="col col-50">{{teklifgonderdigim.name}}</div>
		<div class="col col-50">{{teklifgonderdigim.uyruk}}</div>
	</div>
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">İstenilen Hizmet</div>
		<div class="col col-background col-50 teal lighten-2 white-text">Durum</div>
	</div>
	<div class="row">
		<div class="col col-50">{{teklifgonderdigim.typeTitle}}</div>
		<div class="col col-50">{{teklifgonderdigim.status == '1' ? 'Onaylandı' : 'Beklemede'}}</div>
	</div>



</div>


</ion-item>
</ion-list>
</ion-content>
</ion-view>


