<ion-view view-title="Teklif Detayı">
<ion-content>
<ion-list class="animate-blinds">
<ion-item nav-clear>

<div class="card">
<div ng-if="teklif.typeTitle=='Bebek / Çocuk Bakımı'">
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Ad Soyad:</div>
		<div class="col col-background col-50">{{teklif.name}}</div>
	</div>
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Hizmet Türü</div>
		<div class="col col-background col-50">{{teklif.typeTitle}}</div>
	</div>
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Çocuk / Bebek Yaşı</div>
		<div class="col col-background col-50">{{teklif.yas}}</div>
	</div>
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Hastalık Durumu</div>
		<div class="col col-background col-50">{{teklif.hastalik}}</div>
	</div>
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Hastalık Açıklaması</div>
		<div class="col col-background col-50">{{teklif.aciklama}}</div>
	</div>
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Anne Çalışma Durumu</div>
		<div class="col col-background col-50">{{teklif.calisma}}</div>
	</div>
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Temizlik Hizmeti</div>
		<div class="col col-background col-50">{{teklif.temizlik}}</div>
	</div>
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Yemek Hizmeti</div>
		<div class="col col-background col-50">{{teklif.yemek}}</div>
	</div>
</div>

<div ng-if="teklif.typeTitle=='Yaşlı Bakımı'">
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Ad Soyad:</div>
		<div class="col col-background col-50">{{teklif.name}}</div>
	</div>
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Hizmet Türü</div>
		<div class="col col-background col-50">{{teklif.typeTitle}}</div>
	</div>
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Yaşlı Durumu</div>
		<div class="col col-background col-50">{{teklif.yDurum}}</div>
	</div>
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Rutin Yapılması Gerekenler</div>
		<div class="col col-background col-50">{{teklif.yTemizlik}}</div>
	</div>
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Temizlik Hizmeti</div>
		<div class="col col-background col-50">{{teklif.temizlik}}</div>
	</div>
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Yemek Hizmeti</div>
		<div class="col col-background col-50">{{teklif.yemek}}</div>
	</div>
</div>

<div ng-if="teklif.typeTitle=='Hasta Bakımı'">
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Ad Soyad:</div>
		<div class="col col-background col-50">{{teklif.name}}</div>
	</div>
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Hizmet Türü</div>
		<div class="col col-background col-50">{{teklif.typeTitle}}</div>
	</div>
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Hastalık Türü</div>
		<div class="col col-background col-50">{{teklif.hastalik}}</div>
	</div>
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Temizlik Hizmeti</div>
		<div class="col col-background col-50">{{teklif.temizlik}}</div>
	</div>
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Yemek Hizmeti</div>
		<div class="col col-background col-50">{{teklif.yemek}}</div>
	</div>
</div>

<div ng-if="teklif.typeTitle=='Ev Temizliği'">
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Ad Soyad:</div>
		<div class="col col-background col-50">{{teklif.name}}</div>
	</div>
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Hizmet Türü</div>
		<div class="col col-background col-50">{{teklif.typeTitle}}</div>
	</div>
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Ev Türü</div>
		<div class="col col-background col-50">{{teklif.evturu}}</div>
	</div>
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Kat Sayısı</div>
		<div class="col col-background col-50">{{teklif.kat}}</div>
	</div>
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Oda Sayısı</div>
		<div class="col col-background col-50">{{teklif.oda}}</div>
	</div>
	<div class="row">
		<div class="col col-background col-50 teal lighten-2 white-text">Yemek Hizmeti</div>
		<div class="col col-background col-50">{{teklif.yemek}}</div>
	</div>

</div>

	<div class="row" ng-if="local_userDetails.userType==2 && teklif.interviewStatus !=1">
		<div class="col col-50">
			<button class="button button-block button-small button-balanced" 
			ng-click="bakiciteklifIslem(teklif.interviewID,1,local_userDetails.id);
						sendNotification(local_userDetails.name + ' tarafından teklifiniz kabul edildi!✅', null,null,teklif.familyID)"
			ng-controller="NotificationCtrl">Onayla</button></div>
		<div class="col col-50">
			<button class="button button-block button-small button-assertive" 
			ng-click="bakiciteklifIslem(teklif.interviewID,0,local_userDetails.id);
						sendNotification(local_userDetails.name + ' tarafından teklifiniz reddedildi!❌', null,null,teklif.familyID)"
			ng-controller="NotificationCtrl">Reddet</button></div>
	</div>

		<div class="row" ng-if="category == 'kabulettigimteklifler'">
		<div class="col col-100">
			<a href="#/app/chats/{{local_userDetails.id}}/{{teklif.familyID}} "><button class="button button-block button-small button-energized" 
				>Mesaj Gönder</button></a>
		</div>
	</div>


</div>
</ion-item>
</ion-list>
</ion-content>
</ion-view>


