<ion-modal-view>
<ion-header-bar class="bar-assertive">
<h1 class="title">Teklif Oluştur</h1>
<i class="button button-icon icon ion-close-round" style="min-height:unset" ng-click="closeteklifolusturmodal()"></i>
</ion-header-bar>
<ion-header-bar class="bar-subheader">
<h2 class="title">{{teklifTipi}}</h2>
</ion-header-bar>
<ion-content>


<!--Kayıp ilanı sayfası-->
<form ng-submit="submit(teklifTipi)" name="TeklifOlusturForm" novalidate>

  <div class="card" >

  <div ng-if="teklifTipi == 'Bebek / Çocuk Bakımı'">
    <div class="row">
      <label class="item item-input item-select" >
        <div class="input-label">Çocuğunuzun yaş aralığı?</div>
        <select ng-model="dataTeklifOlustur.cocukYasAralik" name="cocukYasAralik" required>
          <option>0-5 yaş</option>
          <option>6-12 yaş</option>
        </select>
      </label>
    </div>
    <div class="row" ng-if="dataTeklifOlustur.cocukYasAralik=='6-12 yaş'">
      <label class="item item-input item-select" >
        <div class="input-label">Çocuğunuzun okul durumu</div>
        <select ng-model="dataTeklifOlustur.cocukOkulDurumu" name="cocukOkulDurumu" required>
          <option>Var</option>
          <option>Yok</option>
        </select>
      </label>
    </div>

    <div class="row">
      <label class="item item-input item-select" >
        <div class="input-label">Anne çalışıyor mu?</div>
        <select ng-model="dataTeklifOlustur.anneCalisiyorMu" name="anneCalisiyorMu" required>
          <option>Çalışıyor</option>
          <option>Çalışmıyor</option>
        </select>
      </label>
    </div>

    <div class="row">
      <label class="item item-input item-select" >
        <div class="input-label">Çocuğunuzun hastalığı var mı?</div>
        <select ng-model="dataTeklifOlustur.cocukHastaMi" name="cocukHastaMi" required>
          <option>Var</option>
          <option>Yok</option>
        </select>
      </label>
    </div>

    <div class="row" ng-if="dataTeklifOlustur.cocukHastaMi=='Var'">
      <label class="item item-input item-floating-label">
       <textarea placeholder="Varsa hastalık açıklaması" name="cocukHastalikDetay" ng-model="dataTeklifOlustur.cocukHastalikDetay"></textarea>
     </label>
    </div>
  </div>

  <div ng-if="teklifTipi == 'Yaşlı Bakımı'">
    <div class="row">
      <label class="item item-input item-select" >
        <div class="input-label">Yaşlı durumu?</div>
        <select ng-model="dataTeklifOlustur.yasliDurumu" name="yasliDurumu" required>
          <option>Ayakta</option>
          <option>Yatalak</option>
        </select>
      </label>
    </div>

    <div class="row">
      <label class="item item-input item-select" >
        <div class="input-label">Rutin yapılması gereken?</div>
        <select ng-model="dataTeklifOlustur.yapilmasiGerekenler" name="yapilmasiGerekenler" required>
          <option>Alt Değişimi</option>
          <option>Banyo</option>
          <option>Alt Değişimi & Banyo</option>
        </select>
      </label>
    </div>

  </div> <!--  divSonu   -->

  <div ng-if="teklifTipi == 'Hasta Bakımı'">
    <div class="row">
      <label class="item item-input item-select" >
        <div class="input-label">Hastalık türü</div>
        <select ng-model="dataTeklifOlustur.hastalik" name="hastalik" required>
          <option>Alzheimer</option>
          <option>MS</option>
          <option>Demans</option>
          <option>Engelli</option>
          <option>Felçli</option>
          <option>Yoğun Bakım</option>
          <option>Yatalak</option>
          <option>Refakatçi</option>          
          <option>Fizyoterapi</option>          
          <option>DMD Kas Hastalığı</option>          
        </select>
      </label>
    </div>

  </div> <!--  divSonu   -->

  <div ng-if="teklifTipi == 'Ev Temizliği'">
    <div class="row">
      <label class="item item-input item-select" >
        <div class="input-label">Ev türü</div>
        <select ng-model="dataTeklifOlustur.evturu" name="evturu" required>
          <option>Apartman Dairesi</option>
          <option>Villa</option>
          <option>Müstakil</option>       
        </select>
      </label>
    </div>
    <div class="row">
      <label class="item item-input item-select" >
        <div class="input-label">Kat sayısı</div>
        <select ng-model="dataTeklifOlustur.kat" name="kat" required>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>       
        </select>
      </label>
    </div>
    <div class="row">
      <label class="item item-input item-select" >
        <div class="input-label">Oda sayısı</div>
        <select ng-model="dataTeklifOlustur.oda" name="oda" required>
          <option>1-5</option>
          <option>5-7</option>
          <option>7+</option>   
        </select>
      </label>
    </div>
    <div class="row">
      <label class="item item-input item-select" >
        <div class="input-label">Cam / Duvar silme yapılacak mı?</div>
        <select ng-model="dataTeklifOlustur.duvar" name="duvar" required>
          <option>Yapılacak</option>
          <option>Yapılmayacak</option>
        </select>
      </label>
     </div> 
  </div> <!--  divSonu   -->

    <div class="row" ng-if="teklifTipi !='Ev Temizliği'">
      <label class="item item-input item-select" >
        <div class="input-label">Temizlik yapılacak mı?</div>
        <select ng-model="dataTeklifOlustur.temizlik" name="temizlik" required>
          <option>Yapılacak</option>
          <option>Yapılmayacak</option>
        </select>
      </label>
     </div> 

    <div class="row">
      <label class="item item-input item-select" >
        <div class="input-label">Yemek yapılacak mı?</div>
        <select ng-model="dataTeklifOlustur.yemek" name="yemek" required>
          <option>Yapılacak</option>
          <option>Yapılmayacak</option> 
        </select>
      </label>
    </div>

 <!-- gönder butonu -->
<div class="padding">
<input class="button button-block button-balanced" type="submit" name="submit" value="Gönder" ng-disabled="TeklifOlusturForm.$invalid">     
</div>

</form>
<!--Kayıp ilanı sayfası-->
</ion-content>
</ion-modal-view>
