<ion-view view-title="Teklif Oluştur">
<ion-content>

<ion-refresher
spinner="lines"    
pulling-text="Yenilemek için sürükleyin..."
on-refresh="doRefresh('kabulettigimteklifler')"
>
</ion-refresher>



<div class="list card">

	<div ng-click="openteklifolusturmodal('Bebek / Çocuk Bakımı')">
		<div class="item item-image">
			<img src="./img/teklifolustur/a.jpg">
		</div>
		<a class="item item-icon-left assertive">
			<i class="icon ion-music-note"></i>
			Bebek Çocuk Bakımı
		</a>
	</div>

	<div ng-click="openteklifolusturmodal('Yaşlı Bakımı')">
		<div class="item item-image">
			<img src="./img/teklifolustur/a1.jpg">
		</div>
		<a class="item item-icon-left assertive">
			<i class="icon ion-sad-outline"></i>
			Yaşlı Bakımı
		</a>
	</div>

	<div ng-click="openteklifolusturmodal('Hasta Bakımı')">
		<div class="item item-image">
			<img src="./img/teklifolustur/a2.jpg">
		</div>
		<a class="item item-icon-left assertive">
			<i class="icon ion-ios-pulse-strong"></i>
			Hasta Bakımı
		</a>
	</div>

	<div ng-click="openteklifolusturmodal('Ev Temizliği')">
		<div class="item item-image">
			<img src="./img/teklifolustur/a3.jpg">
		</div>
		<a class="item item-icon-left assertive">
			<i class="icon ion-waterdrop"></i>
			Ev Temizliği
		</a>
	</div>


</div>

</ion-item>
</ion-list>
</ion-content>
</ion-view>


