<ion-view view-title="Tüm Bakıcılar">
	<ion-content>

		<ion-refresher
		spinner="lines"    
		pulling-text="Yenilemek için sürükleyin..."
		on-refresh="doRefresh('tumbakicilar')">
	</ion-refresher>

	<ion-list>

		<div class="card assertive" ng-hide="tumbakicilar.length">
			<div class="item item-text-wrap" style="text-align:center">
				Henüz hiçbir bakıcı kayıt olmamıştır.
			</div>
		</div>

		<div class="list card" ng-repeat="bakici in tumbakicilar">

			<div class="item">
				<h2>{{bakici.name}}</h2>
				<p>{{bakici.uyruk}}</p>
				<span class="badge badge-{{bakici.isWork == 1 ? 'assertive' : 'balanced'}}">{{bakici.isWork == 1 ? "Çalışıyor" : "Çalışmıyor"}}</span>
			</div>

			<div class="item item-image">
				<img src="{{bakici.imageYolu}}">
			</div>

			<div class="row">
				<a class="item item-icon-left assertive" href="#/app/bakicidetay/{{bakici.id}}">
					<i class="icon ion-android-search"></i>
					İncele
				</a>
			</div>
		</div>

</ion-list>

	<ion-infinite-scroll 
		ng-if="!noMoreItemsAvailable" 
		on-infinite="loadMore(local_userDetails.id,local_userDetails.userType)" 
		distance="10%">
		<ion-infinite-scroll-content
		loadingSpinner="bubbles">
	</ion-infinite-scroll>

</ion-content>
</ion-view>


