/* Empty. Add your own CSS if you like */


/* Optional styling */
/*Chat*/
/* Chat containers */
.teneke {
  background-color: #ece5dd;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 10px;
    float: left;
    word-wrap: break-word;
    word-break: break-all;
    clear: both;
    border-top-left-radius: 0;
}

/* Darker chat container */
.teneke.me {
    /*border-color: #ccc;*/
    background-color: #dcf8c6;
    float: right;
    border-bottom-right-radius:0;
    border-top-left-radius: 20px;
}

.flexCont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.teneke.me .flexCont {
    flex-direction: row-reverse;
    /* justify-content: flex-start; */
}

/* Clear floats */
.teneke::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.teneke img {
    float: left;
    max-width: 40px;
    height: 40px;
    width: 100%;
    margin-right: 20px;
    border-radius: 100%;
    clear: both;
}

/* Style the right image */
.teneke.me img {
    float: right;
    margin-left: 20px;
    margin-right:0;
    clear: both;
}
.teneke p{
  float:left;
  clear: both;
  margin: 0px;
}
.teneke.me p{
  float:right; 
}

/* Style time text */
.teneke .time{
    /*float: left;*/
    color: #aaa;
    clear: both; 
}

/* Style time text */
.teneke.me .time{
    float: right;
    color: #999;
    clear: both;   
}

.chat-input {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background: #f2f2f2;
  border-top: 1px solid #c9c8c7; }
  .chat-input .input-area {
    margin: 8px;
    height: 30px; }
    .chat-input .input-area input {
      float: left;
      width: 80%;
      height: 30px;
      outline: none;
      border-radius: 2px;
      padding-left: 6px;
      display: inline-block;
      border: 1px solid #c9c8c7;
      border-radius: 5px; }
    .chat-input .input-area .send-msg-btn {
      float: right;
      width: 18%;
      height: 30px;
      line-height: 30px;
      border: none;
      background: #53a4da;
      border-radius: 5px;
      position: relative;
      top: 0;
      color: #fff;
      outline: none;
      text-align: center; }

/*Chat*/
/*Firma bakıcı ekle*/
  .add-photo {
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    font-weight: 100;
    position: relative;
    padding-top: 30px;
  }
  .add-photo h4 {
    margin-bottom: 1em;
    border: 2px solid#4db6ac;
    width: 11%;
    margin: 0 auto 6%;
    border-radius: 100%;
    padding: 20px 22px;
    color: #4db6ac;
  }

  /*--start-responsive-design--*/
  @media (max-width:1440px){
    .add-photo h4 {
      padding: 20px 26px;
    }
  }
  @media (max-width:1366px){}
  @media (max-width:1280px){
    .add-photo h4 {
      padding: 29px 29px;
      width: 14%;
      margin: 0 auto 8%;
    }
  }
  @media (max-width:1024px){
    .add-photo h4 {
      padding: 18px 20px;
      width: 14%;
      margin: 0 auto 6%;
    }
  }
  @media (max-width:768px){}
  @media (max-width:667px){}
  @media (max-width:640px){}
  @media (max-width:568px){
    .add-photo h4 {
      padding: 18px 18px;
      width: 23%;
      margin: 0 auto 6%;
    }
  }
  @media (max-width:480px){}
  @media (max-width:375px){

    .add-photo h4 {
      width: 27%;
    }
  }
  @media (max-width:384px){}
  @media (max-width:320px){
    .add-photo h4 {
      padding: 11px 5px;
      width: 18%;
      margin: 0 auto 6%;
      font-size: 14px;
    }
  }
  /*--end-responsive-design--*/
  input[type="file"] {
      opacity: 0;
      width: 95px;
      height: 85px;
      display: inline-block;
      border: 0px;
      outline: none;
      position: absolute;
      top: 45%;
      left: 41%;
      cursor: pointer;
  }
  .notitle{
    height: 40px;
  }
  .item-select select {
    max-width: none ;
  }
/*Firma bakıcı ekle*/


.custom-select{
    margin: 3px;
    padding: 1px;
    border: solid 2px lightgrey;
    border-radius: 8px;
}
.itemBorder{
  border-bottom: solid 1px #ccc !important;
  margin-top: 10px;
}

/*Invalid*/
select.ng-invalid{
  border-bottom: solid thin #f53d3d;
  margin: 2px 2px;
  width: 30%;
}
select.ng-valid{
  border-bottom: solid thin #32db64;
  margin: 2px 2px;
  width: 30%;
}
input.ng-invalid{
    border-bottom: solid thin #f53d3d;

}
input.ng-valid{
      border-bottom: solid thin #32db64;
}
/*Invalid*/

/*Sub Menu*/
  .subMenu{
    width: 100%;
    float:left;
    padding-left: 20px;
    color: #444;
  }
  .subMenu > a{
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 40px !important;
  }
/*Sub Menu*/

/* Utilities */
  .stable-border:hover{
      background-color: white !important;
  }

  .stable-bg{
      background-color: white !important;

  }
  .bigger{
      font-size: 50px;
  }
/* Utilities */

/*INFO BOX*/
  .info-box {
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      height: 80px;
      display: flex;
      cursor: default;
      background-color: orange;
      position: relative;
      overflow: hidden;
      margin-bottom: 30px;
  }
  .info-box:hover{
  	background: red;
  }

  .info-box .icon{
  	display: inline-block;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.12);
      width: 80px;
  }

  .info-box .icon i {
      color: #fff;
      font-size: 50px;
      line-height: 80px;
  }

  .info-box .content {
      display: inline-block;
      padding: 7px 10px;
  }
  .info-box .content .text {
      font-size: 13px;
      margin-top: 11px;
      color: white;
  }
  .info-box .content .number {
      font-weight: normal;
      font-size: 26px;
      color: white;
  }
  .container{
  margin: 30px 15px;
  }
  .containerintent{
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  }
/*INFO BOX*/

/* Profil görüntüleme CSS*/
  #editprofile {
      border-radius: 0 0 100px 100px;
      margin-top: 10px;
      width: 100px;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: calc(50% + 18px);
      border: none;
      background: rgba(245,245,245,0.7);
      color: #111;
      font-size: small;
  }
  #profile-bg {
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    height: 150px;

    /*background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/bg.jpg') no-repeat transparent;*/
    background: url('../img/login/bg3.jpg') no-repeat transparent;
    background-size: 100%;
    background-position: 50% 20%;
    text-align: center;
  }

  #content {
    position: relative;
    margin-top: 150px;
    box-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    padding-top: 170px;
  }

  #profile-info {
    position: absolute;
    top: -95px;
    width: 100%;
    z-index: 2;
    text-align: center;
  }
  #profile-name {
    color: #444;
    font-size: 22px;
  }
  #profile-description {
    font-size: 16px;
    color: #888;
  }
  #profile-description a {
    color: #888;
  }

  .profile-image {
    display: block;
    border-radius: 100px;
    border: 1px solid white;
    width: 128px;
    height: 128px;
    margin: 30px auto 0;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
  }
  .profile-image.work{
    border: 5px solid red;
  }

  .list-item-content {
    padding: 5px;
  }

  .list-item {
    color: #666666;
  }

  .post {
    color: #444;
  }

  .post-time {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 11px;
    color: #888;
  }

  .post-profile-image {
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }
  .post-options {
    position: absolute;
    font-size: 16px;
    right: 5px;
    bottom: 5px;
    color: #888;
  }
/* Profil görüntüleme CSS*/


/*kayit modal*/
  /*  .button-right{
      display: block !important;
      width: 100% !important;
      text-align:right !important;
  }*/
/*kayit modal*/

/**modal animation right to left*/
  .slide-in-right {
    -webkit-transform: translateX(100%);
      transform: translateX(100%); }

  .slide-in-right.ng-enter, .slide-in-right > .ng-enter {
    -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

  .slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
    -webkit-transform: translateX(0);
      transform: translateX(0); }

  .slide-in-right.ng-leave, .slide-in-right > .ng-leave {
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms; }
/**modal animation right to left*/


/***LOGIN***/

  .shadow-forms{
      width: 100%;
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      background: url(../img/login/bg3.jpg)no-repeat 0px 0px;
      background-position-x: 0px;
      background-position-y: 0px;
      background-size: cover;
      background-repeat-x: no-repeat;
      background-repeat-y: no-repeat;
      background-attachment: initial;
      background-origin: initial;
      background-clip: initial;
      background-color: initial;
      font-family: 'Open Sans', sans-serif;
      background-size: cover;
  }

  .message.warning {
      background: rgba(11, 27, 20, 0.11);
      margin: 15% auto 0;
      width: 90%;
      -webkit-border-radius: 0.3em;
      -moz-border-radius: 0.3em;
      -o-border-radius: 0.3em;
      border-radius: 0.3em;
  }

  .login-head {
      background: #323030;
      position: relative;
  }

  .login-head h2 {
      color: #fff;
      font-size: 1.5em;
      text-align: center;
      font-weight: 400;
      padding: 1em;
  }

  .sub-head {
      text-align: center;
      padding: 1.2em 1em;
  }

  .sub-head h3 {
      color: #fff;
      font-size: 1.2em;
      margin-bottom: 1em;
  }

  .login-input{
      color:black !important;
      border-radius: 30px;
      background-color: white !important;
      margin-bottom: 10px;
      margin-left: 8px;
      /* padding-right: 50px !important; */
      width: 95% !important;
  }

  *::-webkit-input-placeholder {
    color: gray !important;
  }

  .p-container{

  }

  .p-container h6 {
      float: right;
      color: #fff;
      font-size: 1em;
      padding-right: 10px;

  }

  .login-bottom {
      background: rgba(2, 41, 20, 0.45);
      position: relative;
      width: 100%;
      float: left;
      padding: 5px;
  }

  .login-bottom span {
      color: #fff;
      font-size: 1em;
      padding: 1em;
      font-weight: bold;
      line-height: 35px;
  }
/****LOGIN*****/

a {
    text-decoration: none;
}

.link {
    color: #116262;
    font-weight: bold;
}

/*h4 {
    color: #116262;
    font-size: 22px;
    margin-bottom: 16px;
}*/

/*h4:first-child {
    border-top: none;
    padding-top: initial;
}*/

.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.no-border {
    border: none;
}

.static {
    position: static;
}

.bold {
    font-weight: bold;
}

.border-top {
    border-top: solid 1px #ccc;
    padding-top: 30px;
}

.blue-grey-900 {
    background-color: #263238 !important;
    color: #fff;
}
/* Menu */

.menu .bar.bar-header.expanded {
    background-image: url('../img/material-graphite.jpg');
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease-in-out;
}

.menu.menu-left * {
    font-weight: bold;
}

.item-radio input:checked ~ .item-content {
    background: transparent;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}

.item.item-radio .radio-icon {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.item.item-radio:active .radio-icon {
    opacity: 0;
    transform: scale(1.6);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
/*
.directions.button-bar {
    margin: 0 auto;
    width: 33.333%;
}

.directions.button-bar button {
    line-height: 26px;
}*/

.ion-arrow-right-c.top-left:before {
    transform: rotate(-135deg);
}

.ion-arrow-right-c.top-right:before {
    transform: rotate(-45deg);
}

.ion-arrow-right-c.bottom-left:before {
    transform: rotate(-225deg);
}

.ion-arrow-right-c.bottom-right:before {
    transform: rotate(45deg);
}

#modal {
    background-color: #ef4e3a;
    border-radius: 100%;
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.2);
    position: fixed;
    height: 50%;
    bottom: 0;
    opacity: 0;
    width: 700px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.expand #modal {
    background-color: #DBDBDB;
    border-radius: 0;
    border-top: solid 4px #ef4e3a;
    opacity: 1;
    z-index: 9;
}
/* CODE */

.code {
    color: #333;
    font-family: monospace;
    padding: 10px;
    white-space: pre;
}

.code-wrapper {
    padding-bottom: 30px;
    padding-top: 15px;
}

.code-wrapper::before {
    color: #1B5E20;
    font-family: "Ionicons";
    speak: none;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: '\f216 ';
}

.code-wrapper.active::before {
    content: '\f207 ';
}

.code-wrapper .toggle {
    color: #4CAF50;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 8px;
    text-decoration: underline;
}

.code-wrapper .code {
    opacity: 0;
    margin-top: -20px;
    height: 0;
    overflow: hidden;
    position: absolute;
    transition: 0.1s all ease-in-out;
    z-index: 9999999999;
}

.code-wrapper.code-wrapper-last .code {
    position: relative;
}

.code-wrapper.active .code {
    background: #f9f9f9;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    left: 16px;
    height: initial;
    margin-top: 15px;
    padding: 15px;
    right: 16px;
    opacity: 1;
    transition: 0.3s all ease-in-out;
    width: initial;
}

.popover {
    left: initial !important;
    right: 16px !important;
    top: 16px !important;
}
.platform-android .popover{
margin-top:10px;
}